src/main/mule/covid19-case-data-database-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="covid19-case-data-database-sapi-main">
        <http:listener config-ref="apiHttpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
         <apikit:router config-ref="apiConfig" />
		<error-handler ref="api-error-handler" />
    </flow>
    <flow name="covid19-case-data-database-sapi-console">
        <http:listener config-ref="apiHttpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
          <apikit:console config-ref="apiConfig" />
		<error-handler ref="api-console-error-handler" />
    </flow>
    <flow name="post:\covid19CaseData:application\json:apiConfig">
		<flow-ref doc:name="post-covid19-case-data-database-sapi-flow" doc:id="41884a52-5440-4507-b19d-7aad7af182aa" name="post-covid19-case-data-database-sapi-flow"/>
    </flow>
    <flow name="post:\usCountiesCovid19CaseData:application\json:apiConfig">
		<flow-ref doc:name="post-us-counties-covid19-case-data-database-sapi-flow" doc:id="2abea62f-b9b8-4686-8ea2-7deee678d868" name="post-us-counties-covid19-case-data-database-sapi-flow"/>
    </flow>
</mule>
