src/main/mule/covid19-case-data-database-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<db:config name="msSQLDBConfig" doc:name="Database Config" doc:id="7a7ccc44-70b5-4127-9370-896b855a0b71" >
		<db:mssql-connection host="${msSQLDatabase.host}" port="${msSQLDatabase.port}" user="${msSQLDatabase.user}" password="${secure::msSQLDatabase.password}" databaseName="${msSQLDatabase.dbName}" instanceName="${msSQLDatabase.instance}"/>
	</db:config>
	<flow name="post-covid19-case-data-database-sapi-flow" doc:id="03da2032-d143-4892-b77f-c609fa98c03c" >
		<logger level="INFO" doc:name="ENTRY" doc:id="f11b03e8-82c1-4945-8b00-3633999d2712" message="ENTRY: #[flow.name]"/>
		<try doc:name="Try" doc:id="b1bca211-0634-4a86-b388-edbda3f35278" transactionalAction="BEGIN_OR_JOIN">
			<async doc:name="Async" doc:id="f76713bc-53c6-4d80-ab20-e4da05e98499">
			<ee:transform doc:name="DB Data Format" doc:id="6e23959b-c6bd-4c98-999d-e353c5dcd460" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item,indexOfitem) -> {
	"dateRep": item.dateRep as Date {format: "yyyy-MM-dd"},
	"day": item.day as Number,
	"month": item.month as Number,
	"year": item.year as Number,
	"cases": item.cases as Number,
	"deaths": item.deaths as Number,
	"countriesAndTerritories": item.countriesAndTerritories,
	"geoId": item.geoId,
	"countryTerritoryCode": item.countryTerritoryCode,
	"popData2019": item.popData2019 as Number,
	"continentExp": item.continentExp,
	"cumulative14DaysCasesPer100000": item.cumulative14DaysCasesPer100000 as Number
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<db:bulk-insert doc:name="Insert Covid19 Case Distribution to DB Table covid_patient_data" doc:id="03867653-7e66-4d32-ab9c-848dc24b92ba" config-ref="msSQLDBConfig">
				<db:sql><![CDATA[INSERT INTO [dbo].[covid_patient_data]
           ([dateRep]
           ,[day]
           ,[month]
           ,[year]
           ,[cases]
           ,[deaths]
           ,[countriesAndTerritories]
           ,[geoId]
           ,[countryTerritoryCode]
           ,[popData2019]
           ,[continentExp]
           ,[cumulative14DaysCasesPer100000])
     VALUES
           (:dateRep
           , :day
           , :month
           , :year
           , :cases
           , :deaths
           , :countriesAndTerritories
           , :geoId
           , :countryTerritoryCode
           , :popData2019
           , :continentExp
           , :cumulative14DaysCasesPer100000)]]></db:sql>
			</db:bulk-insert>
		</async>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="de2bbb87-9a1a-41de-973b-a7ffdfe5abbf" >
					<logger level="INFO" doc:name="Logger" doc:id="88f0777c-acbc-49f0-9a61-cec13b30e7bf" message="Propogating Error back to PAPI"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<!-- <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
  statusCode: "201",
  message: "Created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> -->
		<logger level="INFO" doc:name="EXIT" doc:id="4b1a7748-ed41-4f13-963f-e1d75b5dab32" message="EXIT: #[flow.name]"/>
	</flow>
	
	<flow name="post-us-counties-covid19-case-data-database-sapi-flow" doc:id="1bc7f672-a37e-4689-8450-29712d7def1c" >
		<logger level="INFO" doc:name="ENTRY" doc:id="e2be7637-39e8-4c8b-bcd7-a3fae3a5e422" message="ENTRY: #[flow.name]"/>
		<try doc:name="Try" doc:id="c9624e41-d714-4510-975a-76f81e64c04b" transactionalAction="BEGIN_OR_JOIN">
			<async doc:name="Async" doc:id="877f7687-ec5e-41b1-8cc6-4fe816885571">
			<ee:transform doc:name="DB Data Format" doc:id="5136a6dc-a4f3-47ef-93a4-c3da497a1c80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item,indexOfitem) -> {
	"date": item.date as Date {format: "yyyy-MM-dd"},
	"county": item.county,
	"state": item.state ,
	"fips": item.fips as Number,
	"cases": item.cases as Number,
	"deaths": item.deaths as Number
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<db:bulk-insert doc:name="Insert US Counties Covid19 Case Data to DB Table us_counties_covid19_data" doc:id="7dfb8942-a2e9-4741-a596-5a937a9b3c92" config-ref="msSQLDBConfig">
				<db:sql><![CDATA[INSERT INTO [dbo].[us_counties_covid19_data]
           ([date]
           ,[county]
           ,[state]
           ,[fips]
           ,[cases]
           ,[deaths])
     VALUES
           (:date
           , :county
           , :state
           , :fips
           , :cases
           , :deaths)]]></db:sql>
			</db:bulk-insert>
		</async>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7872b745-534b-4e08-8c8d-d73cf7719895" >
					<logger level="INFO" doc:name="Logger" doc:id="58196372-6eb6-4800-9faf-a2fb1336ba47" message="Propogating Error back to PAPI"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<!-- <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
  statusCode: "201",
  message: "Created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> -->
		<logger level="INFO" doc:name="EXIT" doc:id="68b84885-d484-42ad-a409-ccf0de8d1a3a" message="EXIT: #[flow.name]"/>
	</flow>
</mule>
